* {
  outline: 1px black dotted;
}

.main-container__images {
  display: grid;
  grid-gap: 25px;
  grid-template-columns: repeat(3, 1fr);
}

.main-container__photo {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}